
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {

    
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    padding: 70px;
    gap: 20px;
}

.wrapper > a {
    transition: 0.2s ease-in-out;
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: grey;
    padding: 75px;
    color: white;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;

}
.wrapper > a:hover {    
    background-color:#555;
    transform: translateY(-2px);
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}


