details {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 10px;
}

summary {
cursor: pointer;
background-color:lightgrey ;
transition: all 0.2s ease-in-out;
padding: 16px;
border: 1px solid lightgray
}

summary:hover {
    background-color: lightslategray;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
